{
    "bracketSpacing": true,
    "endOfLine": "auto",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false
}
